body {
  background-color: #222;
  color: #ddd;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-size: 4em;
}

input[type=text], label {
  margin-bottom: 8px;
}

.tasksContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 77em;
  margin: auto;
}

.taskBox{
  width: 24em;
  border: 1px solid black;
  margin: 0.5em;
  padding-bottom: 1em;
}

.taskTitle{
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}

.taskInformation{
  padding: 0.5em;
  text-align: left;
  font-size: smaller;
  overflow-wrap: break-word;
}


